header{
    width: 800px;
    height: 100px;
    background-color: black;
}
aside{
    width: 170px;
    height: 400px;
    background-image: url(../images/bg_lt.png);
    float: left
        
}
article{
    width: 621px;
    height: 400px;
    margin-left: 179px;
    background-color: white;
    
}
footer{
    width: 800px;
    height: 100px;
    background-color: black;
}
nav{
    margin-top: 163px;


}
nav ul{
    padding: 8px;
    list-style: none;
    

}
nav ul li a{
    
    display: block;
    width: 150px;
    height: 34px;
    background-image: url(../images/btn.png);
    text-indent: 46px;
    line-height: 25px;
    padding: 4.3px;
    
}
nav ul li a:hover{
    color: white;
    background-image: url(../images/btn_hover.png)
    
}
body{
    

    
}
